@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  font-family: 'Space Mono', sans-serif;
  color: #1E1F22;
  background: url('/d4cf2180135afc1c26d41857bec3981857c5a9e5_2_1000x1000.png');
  background-size: 100px 100px;
}

audio {
  display: block;
}

.catsandstars {
  background: url("/46465669d1920448b686a4aabbc1161eafa3bcf9.jpeg");
  background-color: transparent;
}