.home {
  background: url('/public-ants-red.jpeg');
  background-size: 1000px 1000px;
}

.homeContainer {
  height: 86vh;
}

.navbar {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: center;
  font-size: 40px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  text-align: center;
}

.ideas {
  text-align: center;
}

.mintContainer {
  display: grid;
  grid-template-columns: minmax(400px, auto);
  grid-template-rows: 40px 350px;
  text-align: center;
  justify-content: center;
  grid-gap: 10px;
}

.mintContainer div {
  background-color: #ADB1B8;
}

.mintContainer audio {
}