.navbar {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 40px;
  width: 100vw;
  text-align: center;
}

.ideas {
  text-align: center;
}

.grid > div {
  padding: 40px;
  background: #f14668;
  text-align: center;
  font-size: 32px;
  border-radius: 10px;
}

.grid > div:nth-child(odd) {
  background: #ffd880;
}

.grid {
  display: grid;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  grid-auto-rows: minmax(200px, auto);
  grid-auto-columns: minmax(200px, auto);
  grid-gap: 10px;
  place-content: center;
}

.one {
  grid-column: 1/5;
}

.three {
  grid-column: 2/4;
  grid-row: 2/4;
}

.five {
  grid-row: 3/5;
}

.seven {
  grid-column: 2/5;
}
